*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

nav {
    background-color: #222;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li{
    margin: 10px 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover,
nav ul li a.active {
    color:#00bcd4;
}

.hero{
    background:linear-gradient(to right,#00bcd4,#2196f3);
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero h1{
    font-size: 3rem;
}

.hero p {
    font-size: 1.3rem;
    margin-top: 10px;
}

.content {
    max-width: 900px;
    margin: auto;
    padding: 30px 20px;
}

.about h2 {
    margin-bottom: 15px;
}

.about p {
    margin-bottom: 15px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

@media (max-width: 600px) {
    .hero h1{
        font-size: 2.2rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
}


form {
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    max-width: 500px;
    padding: 8px;
    margin-top: 5px;
}

button {
    padding: 10px 20px;
    background-color: #00bcd4;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #2196f3;
}
